// Marquee definition
.marquee {
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;

	// List
	> ul {
		list-style: none;

		> li {
			display: inline-block;
		}
	}

	// Pause marquee
	&:hover &-content {
		animation-play-state: paused;
	}

	// Marquee content
	&-content {
		display: inline-block;
		animation-name: marquee;
		animation-duration: map-get($animation, duration); // normal
		animation-timing-function: map-get($animation, function);
		animation-iteration-count: map-get($animation, count);
		padding-left: 100%;
	}

	// Reverse marquee
	&-reverse &-content {
		animation-direction: reverse;
	}

	// Speed
	@for $factor from 2 through 5 {
		// Slower
		&-speed-sx#{$factor} &-content {
			animation-duration: map-get($animation, duration) * $factor;
		}

		// Faster
		&-speed-fx#{$factor} &-content {
			animation-duration: map-get($animation, duration) / $factor;
		}
	}
}
