// Marquee definition
.marquee {
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;

	// List
	> ul {
		list-style: none;

		> li {
			display: inline-block;
		}
	}

	// Pause marquee
	&:hover &-wrapper {
		animation-play-state: paused;
	}

	// Main wrapper
	&-wrapper {
		display: inline-block;
		animation-name: marquee;
		animation-duration: map-get($animation, duration); // normal
		animation-timing-function: map-get($animation, function);
		animation-iteration-count: map-get($animation, count);
		padding-left: 100%;
	}

	// Reverse marquee
	&-reverse &-wrapper {
		animation-direction: reverse;
	}

	// Speed
	@each $key in (slow, fast) {
		$duration: map-get($animation, duration);

		@if $key == slow {
			$duration: map-get($animation, duration) * 2;
		} @else if $key == fast {
			$duration: map-get($animation, duration) / 2;
		}

		&-#{$key} &-wrapper {
			animation-duration: $duration;
		}
	}
}
